@font-face {
    font-family: 'Roboto';
     src: url("assets/fonts/Roboto-Thin.ttf");
    }

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

* {
    box-sizing: border-box;
    }

.border {
    border: 1px solid red;
    }

.body {
    font-family: 'Roboto';
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

.container {
    max-width: 1440px;
    margin: 0 auto;
    }

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

html {
    scroll-behavior: smooth; 
  }

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
}

.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }

.main-container {
    display: flex;
    flex-wrap: wrap;
}
  
.container-left {
  float: left;
  max-width: 1440px;
  margin: 0 auto;
}

.container-right {
  float: right;
  max-width: 1440px;
 
}

.container-center {
  float: center;
  max-width: 1440px;
  
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}

.link {
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
}

.link:hover {
  color: #5d7260;
}

.nav {
    background-color: #829985;
}

.nav-link {
    color:#ffffff;
}

.footer {
    background-color: #829985;
}